<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Easy A Solution</title>
	<meta name="description" content="Easy A Solution App">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	
</head>

		<style>
		body{
			padding-top: 40px;
		}
		</style>
<body>

<body data-spy="scroll" data-target="#my-navbar" class="<%= classname %>">

  <!-- Navbar -->
  	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>

  				<a href="" class="navbar-brand">Easy A Solution</a>
  			</div><!-- Navbar Header-->
  			<div class="collapse navbar-collapse" id="navbar-collapse">
  				
  			<a href="" class="btn btn-warning navbar-btn navbar-right">Download Now</a>
  				<ul class="nav navbar-nav">
  					<li><a href="#feedback">Feedback</a> 
  					<li><a href="#gallery">Gallery</a> 
  					<li><a href="#features">Features</a> 
  					<li><a href="#faq">Faq</a> 
  					<li><a href="#contact">ContactUs</a> 
  				</ul>
  			</div>
  		</div><!-- End Container-->
  	</nav><!-- End navbar -->

  	<!-- jumbotron-->

  	<!-- jumbotron-->

	<div class="jumbotron">
		<div class="container text-center">
				<h1>Easy A Solution</h1>
				<p>The one stop to all of your tutoring needs</p>
				<div class="btn-group">
					<a href="" class="btn btn-lg btn-info">Skype</a>
					<a href="" class="btn btn-lg btn-default">Discounted Group</a>
					<a href="" class="btn btn-lg btn-warning">1on1</a>
				</div>
		</div>
	</div><!-- End jumbotron -->

	<div class="container">
		<section>

			<div class="page-header" id="feedback">
				<h2>Feedback.<small> Check out the Awesome Feedback</small></h2>
			</div>

			<div class="row">
				<div class="col-md-3">
					<blockquote>
						<p>David gave great explaination to the hardest differential calculus problem.  On top of that, the tips David gave for how to take Math Test faster was very helpful for my Math 220 Final!</p>
						<footer>Kathy Cheung</footer>
					</blockquote>
				</div>
				<div class="col-md-3">
					<blockquote>
						<p>David explained the problems with easy to understand step by step diagrams.  Not only this made me understand it easier, but it also help me to remember the concepts afterwards.  David's trigonometry cheat sheet proved to be very useful after all!</p>
						<footer>Katie Tsui</footer>
					</blockquote>
				</div>
				<div class="col-md-3">
					<blockquote>
						<p>Jon is Dope!  Look at all those Actuarial Credentials Son!</p>
						<footer>Ben Wong</footer>
					</blockquote>
				</div>
				<div class="col-md-3">
					<blockquote>
						<p>Argueablly, the greatest Pound for Pound, Math tutor of all time</p>
						<footer>Brian Chui</footer>
					</blockquote>
				</div>
			</div>
		</section>
	</div>

	<!-- call to action -->
	<section>
		<div class="well">
			<div class="container text-center">
				<h3>Subscribe for more free stuff</h3>
				<p>Enter your name and email</p>

				<form action="" class="form-inline">
					<div class="form-group">
						<label for="subscription">Subscribe</label>
						<input type="text" class="form-control" id="subscription" placeholder="Yourname">
					</div>

					<div class="form-group">
						<label for="email">Email address</label>
						<input type="text" class="form-control" id="email" placeholder="Enter your email">
					</div>
					<button type="submit" class="btn btn-default">Subscribe</button>
					<hr>
				</form>

			</div>

		<div>
	</section>

	<!-- Gallery -->
		<div class="container">
			<section>
				
				<div class="page-header" id="gallery">
					<h2>Gallery.<small> Check out the Awesome Gallery</small></h2>
				</div>

				<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">

					<ol class="carousel-indicators">
						<li data-target="#screenshot-carousel" data-slide-to="0" class="active">
						</li>
						<li data-target="#screenshot-carousel" data-slide-to="1"></li>
						<li data-target="#screenshot-carousel" data-slide-to="2"></li>
						<li data-target="#screenshot-carousel" data-slide-to="3"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<img src="4.png" alt="Text of the image">
							<div class="carousel-caption">
								<h3>A+ Grades</h3>
								<p>Get those A+ that you have always been longing for</p>
							</div>
						</div>
						<div class="item">
							<img src="5.png" alt="Text of the image">
							<div class="carousel-caption">
								<h3>Career accomplishments</h3>
								<p>Set you on the right path for any career you wish</p>
							</div>
						</div>
						<div class="item">
							<img src="6.png" alt="Text of the image">
							<div class="carousel-caption">
								<h3>Increased Overall Confidence</h3>
								<p>Doing good adcademically has never been this easy before</p>
							</div>
						</div>
						<div class="item">
							<img src="7.png" alt="Text of the image">
							<div class="carousel-caption">
								<h3>Save Time</h3>
								<p>Get the grades you want with half the effort with our exam studying methods</p>
							</div>
						</div>
					</div><!-- End Carousel inner-->
					<a href="#screenshot-carousel" class="left carousel-control" 
					data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>

					<a href="#screenshot-carousel" class="right carousel-control" 
					data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div><!-- End Carousel -->
			</section>
		<div>

	<!-- features -->
	<div class="container">
		<section>
			<div class="page-header" id="features">
				<h2>Features.<small> The options we provide to our studetnts are as follows</small></h2>
			</div><!-- End Page Header -->

			<div class="row">

				<div class="col-sm-8">
					<h3>1 on 1 Private Tutoring</h3>
					<p>This is the best option for students who would like a lot of questions to be answered.  This option is also good for students who wants to have a drastic jump in their academic grades</p>
				</div>

				<div class="col-sm-4">
					<img src="1.png" class="img-responsive" alt="image">
				</div>

			</div><!-- End Page Header -->

			<div class="row">

				<div class="col-sm-8">
					<h3>Discounted Group Rates</h3>
					<p>Students can get up to 75% off when they book as a group!  This option is best for students who needs help but not too much</p>
				</div>

				<div class="col-sm-4">
					<img src="2.png" class="img-responsive" alt="image">
				</div>

			</div><!-- End Page Header -->


			<div class="row">

				<div class="col-sm-8">
					<h3>Online-tutoring</h3>
					<p>Have the convienece of getting tutor from anywhere as long as you have your internet connection!  This option is best for students who needs help once in a while.</p>
				</div>

				<div class="col-sm-4">
					<img src="3.png" class="img-responsive" alt="image">
				</div>
			</div>
			
			<hr>
			<div class="row">
				<div class="col-sm-4">
					<div class="panel panel-default text-center">
						<div class="panel-body">
							<span class="glyphicon glyphicon-font"></span>
							<h4>A+ Certified</h4>
							<p>All our instructors have gottend at least an A+ in the course or holds an A+ GPA for their associated field</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="panel panel-default text-center">
						<div class="panel-body">
							<span class="glyphicon glyphicon-home"></span>
							<h4>At Home Tutoring</h4>
							<p>THe student has the option to choose to get tutored in his/her house for their convenicence</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="panel panel-default text-center">
						<div class="panel-body">
							<span class="glyphicon glyphicon-headphones"></span>
							<h4>Online Tutoring</h4>
							<p>Online option is perfect for students who have a tight scheduel/bugdet and still want High Quality instructions from teachers</p>
						</div>
					</div>
				</div>

			</div><!-- End of Row-->
		</section>
	</div>

	<div class="container">
		<section>
			<div class="page_header" id="faq">
				<h2>FAQ.<small> Engaging with consumers.</small></h2>
			</div><!-- End Page header -->

			<div class="panel-group" id="accordion">

				<div class="panel panel-default">
					<div class="panel-heading">

						<div class="panel-title">
							<a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">
								Who will be teaching me?
							</a>
						</div><!-- End panel title -->

						<div id="collapse-1" class="panel-collapse collapse in">
							<div class="panel-body">
								Both of the instructors are former Bachelors of Mathematics Graduate.  David is currently working as a Mobile Developer at a Silicon Valley Start UP and Jon is on his way to his FCA Actuarial credentials.
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">

						<div class="panel-title">
							<a href="#collapse-2" data-toggle="collapse" data-parent="#accordion">
								What do you guys specializes in teaching?
							</a>
						</div><!-- End panel title -->

						<div id="collapse-2" class="panel-collapse collapse">
							<div class="panel-body">
								We specializes in tutoring SAT Mathematics, University level Calculus, Algebra, Physics and any other technical Sciences
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">

						<div class="panel-title">
							<a href="#collapse-3" data-toggle="collapse" data-parent="#accordion">
								Where will the teaching take place?
							</a>
						</div><!-- End panel title -->

						<div id="collapse-3" class="panel-collapse collapse">
							<div class="panel-body">
								Students can choose to get the tutoring in our tutoring center, at the student’s house or at a public school or library, at varying cost
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">

						<div class="panel-title">
							<a href="#collapse-4" data-toggle="collapse" data-parent="#accordion">
								When can I get my first lesson?
							</a>
						</div><!-- End panel title -->

						<div id="collapse-4" class="panel-collapse collapse">
							<div class="panel-body">
								As fast as the next day!  Give us a shout!
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">

						<div class="panel-title">
							<a href="#collapse-5" data-toggle="collapse" data-parent="#accordion">
								Why should we choose you over other agency?
							</a>
						</div><!-- End panel title -->

						<div id="collapse-5" class="panel-collapse collapse">
							<div class="panel-body">
							We provide a difference service than most agency.  We are geniunely interested in BOTH helping the student to UNDERSTAND the material and TIPS/TRICKS on how to score higher grades.

								1)Instructors hold Bachelor of Math Degrees
								2)Online Tutoring Service 
								3)At Home Tutoring Service
								4)24/hr Question Support
								5)Universal Exam Writing tips

							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">

						<div class="panel-title">
							<a href="#collapse-6" data-toggle="collapse" data-parent="#accordion">
								How can I get tutoring now?
							</a>
						</div><!-- End panel title -->

						<div id="collapse-6" class="panel-collapse collapse">
							<div class="panel-body">
								Shoot us a email or book an appointment with us right now!
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</div>     

	<!-- Contact -->
	<div class="container">
		<section>
			<div class="page_header" id="contact">
				<h2>Contact Us.<small>Contact Us For More.</small></h2>
			</div><!-- End Page header -->

			<div class="row">
				<div class="col-lg-4">
					<p>Send us a message, or contact us from the address below</p>
					
					<address>
						<strong>Easy A Solution.</strong></br>
						1489 Webster Street</br>
						San Francisco, California</br>
						94115</br>
						415-960-5816
					</address>
				</div>

				<div class="col-lg-8">
					<form action="/email" class="form-horizontal">

						<div class="form-group">
							<label for="username" class="col-lg-2 control-label">Name
							</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" name="username" placeholder="Enter your name">
							</div>
						</div><!-- End of Form group-->

						<div class="form-group">
							<label for="email" class="col-lg-2 control-label">Email
							</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" name="email" placeholder="Enter your email">
							</div>
						</div><!-- End of Form group-->

						<div class="form-group">
							<label for="usernum" class="col-lg-2 control-label">Phone Number
							</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" name="usernum" placeholder="Enter your number">
							</div>
						</div><!-- End of Form group-->

						<div class="form-group">
							<label for="usermessage" class="col-lg-2 control-label">Message
							</label>

							<div class="col-lg-10">
								<textarea name="usermessage" id="usermessage" class="form-control" cols="20" rows="10" placeholder="Enter your Message"></textarea>
							</div>
						
						</div><!-- End of Form group-->

						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button type="submit" class="btn btn-primary">
								Submit
								</button>
							</div>
						</div>

					</form>	
				</div>
			</div>
		</section>
	</div>

	<footer>
		<hr>
		<div class="container">
			<div class="container text-center">
			<h3>Subscribe for more free stuff</h3>
			<p>Enter your name and email</p>

			<form action="MAILTO:davidkwokhochan@gmail.com" method="post" 
				enctype="text/plain" class="form-inline">

				<div class="form-group">
					<label for="subscription">Subscribe</label>
					<input type="text" class="form-control" id="subscription" placeholder="Your name">
				</div>

				<div class="form-group">
					<label for="email">Email address</label>
					<input type="text" class="form-control" id="email" placeholder="Enter your email">
				</div>
				<button type="submit" class="btn btn-default">Subscribe</button>
				<hr>

			</form>
			<hr>
			<ul class="list-inline">
				<li><a href="">Twitter</a></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Youtube</a></li>
			</ul>

			<p>&copy;Copyright @ 2015</p>
	</footer>

	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
	</script>
	
</body>	
</html>